:root {
    --mainBgColor: rgba(39, 39, 39);
    --secondaryBgColor: rgb(0, 0, 0);
    --borderColor1: rgb(39, 39, 39);
    --borderColor2: rgb(39, 39, 39);
    --textColorMain: #fff;
    --textColorSecondary: rgb(226, 227, 232);
    --themeColorMain: rgb(219, 206, 26);
    --themeColorSecondary: #386fd2;
    --messageTextColor: rgb(0, 0, 0);
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    cursor: pointer;
    color: var(--themeColorMain);
}


body {
    background-color: var(--mainBgColor);
    color: var(--textColorMain);
}

.container {
    max-width: 40rem;
    padding: 0.1rem 1rem;
    margin: 2rem auto;
}

.home_container {
    padding: 2em;
    background-color: var(--secondaryBgColor);
    border-radius: 0 0 10px 10px;
    border: 1px solid var(--borderColor1);
}

input[type="text"],
input[type="password"],
input[type="email"],
textarea {
    background: var(--mainBgColor);
    border: none;
    border-bottom: 1px solid var(--borderColor1);
    padding: 1rem;
    border-radius: 3px;
    width: 100%;
    color: var(--color-light);
    outline: none;
    font-size: 18px;
    text-shadow: none !important;
    resize: none;
}

.auth_container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.message_form {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.user_messages {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form_wrapper {
    width: 600px;
    width: 600px;
    padding: 2em;
}

.field_wrapper {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 0.5em 0;
}


/* button */

.btn {
    padding: 0.5em 1em;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    transition: 0.3s;
}

.btn_secondary {
    background-color:var(--themeColorMain)
}

.btn:hover {
    opacity: 0.8;
}

.btn_main {
    padding: 1em 2em;
    background-color: var(--themeColorMain)
}

.send_btn_wrapper {
    display: flex;
    justify-content: flex-end;
}

.delete_btn {
    color: #ffffff;
    cursor: pointer;
    transition: 0.3s;
    width: 16px;
    padding-top: 10px;
}

.delete_btn:hover {
    color: var(--themeColorMain)
}

/* message */

.message_wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 0.5em;
    margin: 1em;
}

.message_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.message_body {
    padding: 0.5em 0;
    color: var(--messageTextColor);
    background-color: var(--themeColorMain);
    padding: 1em;
    border-radius: 20px;
    width: fit-content;
    max-width: 100%;
    word-wrap: break-word;
    /* added */
}

.message_timestamp {
    margin-left: 1em;
    color: rgb(164, 161, 161);
}

.header_wrapper {
    background-color: var(--mainBgColor);
    padding: 1em;
    display: flex;
    justify-content: space-between;
    border-radius: 10px 10px 0 0;
    border: 1px solid var(--borderColor1);
    border-bottom: none;
}

.header_link {
    color: #ffffff;
    cursor: pointer;
    transition: 0.3s;
}

.header_link:hover {
    color: var(--themeColorMain)
}